
#linkovi a {
    font-size: 20px;
    color: silver;
}

#linkovi a:hover {
    color: grey;
}

header {
    background-image: url('slike/suma.jpg');
    background-color: silver;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#okvir {
    border: 2px solid silver;
    border-radius: 15px;
}

#okvir h1 {
    font-size: 60px;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 18px;
}

#okvir h2 {
    font-size: 25px;
    opacity: 0.8;
}

#dugmici a {
    border-radius: 20px;
    font-size: 20px;
    opacity: 0.8;
    font-weight: 500;
}

/*kada je uzi ekran slova u naslovu ce biti manja*/

@media screen and (max-width: 768px) {
    #okvir h1 {
        font-size: 50px;
    }

    #okvir h2 {
        font-size: 20px;
    }

    #dugmici a {
        font-size: 17px;
    }
}

.strelica {
    position: absolute;
    border: solid silver;
    border-width: 0 5px 5px 0;
    padding: 10px;
    transform: rotate(45deg);
    bottom: 60px;
    animation: strelica 0.9s ease-out infinite;
}

@keyframes strelica {
    0% {
        bottom: 60px;
        opacity: 1;
    }

    70% {
        opacity: 0.6;
    }

    100% {
        bottom: 10px;
        opacity: 0;
    }

}

#omeni {
    background-color: #f2f2f2;
}

#omeni h2~p{
    text-align: justify;
}

#omeni h2~p::first-letter {
    font-size: 30px;
    font-weight: 500;
}
#omeni a:link, #omeni a:visited{
    color: black;
    text-decoration: underline;
}
#omeni a:hover{
    color: grey;
}

#vestine .table td {
    border-bottom: 1px solid #dee2e6;
}

#vestine td:first-child {
    width: 20%;
    margin: 0px;
}

#vestine td:nth-child(2) {
    vertical-align: middle;
}

#vestine tr p {
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

/*Da okrenem animaciju progress-a na drugu stranu*/
@keyframes progress-bar-stripes {
    from {
        background-position: 0 1rem;
    }

    to {
        background-position: 0 0;
    }
}

/*Da se zaobli progress bar*/
.progress,
.progress-bar {
    border-radius: 10px;
    height: 18px;
}

.progress {
    border: 1px solid silver;
}

#projekti .row>div:hover {
    transform: scale(1.05);
}

#projekti img+div {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: grey;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#kontakt {
    background-color: #f2f2f2;
}

#kontakt span {
    font-size: 30px;
}

#kontakt p {
    font-size: 18px;
}

footer+p {
    font-size: 5px;
}